<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Hospitales</title>
</head>
<body>
    <div th:replace="fragmentos/navbar :: navbar"></div>
    
    <h2>Lista de Hospitales</h2>
    
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="hospital : ${listaHospitales}">
                <td th:text="${hospital.id}"></td>
                <td th:text="${hospital.nombre}"></td>
                <td th:text="${hospital.direccion}"></td>
                <td th:text="${hospital.telefono}"></td>
                <td>
                    <a th:href="@{'/hospital/' + ${hospital.id} + '/doctores'}">Mostrar doctores</a>
                    <a th:href="@{'/hospital/' + ${hospital.id} + '/pacientes'}">Mostrar pacientes</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>